* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    background: var(--dark);
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}